---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div>
    <h3><strong><em>Comments</em></strong></h3>
    <div>
      Want to leave a comment? Write your comment
      <a href="https://github.com/colinxy/colinxy.github.io/issues/{{page.commentIssueId}}">here</a>.
    </div>
    <div id="comments"></div>
  </div>

  <script type="text/javascript">
   var commentIssueId = {{ page.commentIssueId }};
   /* console.log(commentIssueId);*/

   if (commentIssueId) {
     console.log("loading comments...");

     var url = "https://api.github.com/repos/colinxy/colinxy.github.io/issues/" +
               commentIssueId + "/comments";

     var request = new XMLHttpRequest();
     request.onload = function() {
       var response = JSON.parse(request.responseText);
       /* console.log(response);*/
       var comments = document.getElementById("comments");

       for ( var i = 0; i < response.length; i++) {

       }

     };
     request.error = function() {
       console.log("error loading comments");
     };

     request.open('GET', url, true);
     request.setRequestHeader("Accept", "application/vnd.github.v3.html+json");
     request.send();
   }
  </script>

</div>
